[Unit]
Description=[=======USB-HDD-Spindown=======]
DefaultDependencies=no
Before=umount.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/bash /home/pi/scripts/HDD/stopHDD.sh

[Install]
WantedBy=halt.target poweroff.target